/* //......................................... */
/* five part start */
.contactMePlease {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 22px;
    background-color: rgb(92, 92, 92);
}

.contactMePlease .topHeading {
    color: white;
}

.contactMePlease .contactForm {}

.contactMePlease .contactForm form {
    width: 80%;
    height: 80%;
    display: flex;
    margin-top: 12px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    /* flex-wrap: wrap; */
}

.contactMePlease .contactForm form input {
    width: 500px;
    height: 35px;
    font-size: 17px;

    /* flex-wrap: wrap; */
}

.contactMePlease .contactForm form textArea {
    width: 500px;
    height: 200px;
    font-size: 17px;

    /* flex-wrap: wrap; */
}

.contactMePlease .contactForm form button {
    padding: 12px;
    font-size: 15px;
    /* margin: 15px; */
    /* border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; */
    width: 500px;
    height: 45px;
    background-color: rgba(57, 36, 173, 0.733);
    border: none;
    margin-top: 5px;
    color: white;
    font-size: 16px;

    /* flex-wrap: wrap; */
}
